*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: 70vh;
    width: 99%;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
  }
  h1{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
  }
main{
    height: 20vh;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    gap: 1rem;
    justify-content: center;
}

input{
    font-size: 1.3rem;
    padding: 8px 18px;
    width: 30%;
    outline: none;
    border: 2px solid gray;
    border-radius: 7px;
}
.button{
    background-color: aqua;
    padding: 8px 12px;
    outline: none;
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}
.fa-solid{
    font-size: 1.8rem;
    color: rgb(255, 255, 255);
    padding-left: 3px;
}
.red:hover{
    background-color: red;
}
.green:hover{
    background-color: #39B54A;
}
ul{
    list-style: upper-roman;
}
li{
    font-size: 2rem;
    margin-top: 1rem;
    margin-left: 5rem;
}
.new{
    font-size: 1rem;
    margin: 10px 10px 0px 10px;
}

@media screen and (max-width: 768px) {
    input{
        width: 80%;
    }
    .fa-solid{
    font-size: 1.3rem;

    }
    .button{
    font-size: 1rem;

    }
    li{
        margin-left: 1rem;
    }
  }